<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postTest1</title>
</head>
<body>
<form method="post" action="/booktest/postTest2/">

    用户名：<input type="text" name="uname"><br>
    密&nbsp;&nbsp;&nbsp;码：<input type="password" name="upwd"><br>
    性&nbsp;&nbsp;&nbsp;别：<input type="radio" name="ugender" value="男" checked="checked">男
    <input type="radio" name="ugender" value="女">女<br>
    爱&nbsp;&nbsp;&nbsp;好：<input type="checkbox" name="uhobby" value="倒挂金钩">倒挂金钩
    <input type="checkbox" name="uhobby" value="海底捞月">海底捞月
    <input type="checkbox" name="uhobby" value="天外飞仙">天外飞仙
    <input type="checkbox" name="uhobby" value="半月弯刀">半月弯刀<br>
    <input type="submit" value="提交">

</form>
</body>
</html>